:root {
  font-family: 'Roboto', sans-serif;
  --primary-color: #2C3E50; /* Dark Blue */
  --secondary-color: #3498DB; /* Blue */
  --background-color: #34495E; /* Dark Gray */
  --text-color: #ECF0F1; /* Light Gray */
  --button-hover-color: #2980B9; /* Darker Blue */
  --modal-background-color: #2C3E50; /* Dark Blue */
  --modal-overlay-color: rgba(0, 0, 0, 0.7); /* Darker Semi-transparent Black */
  --close-button-hover-color: #E74C3C; /* Red */
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
  z-index: 1;
}

.header {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 1rem;
  text-align: center;
  flex-shrink: 0;
}

.content {
  flex: 1;
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  overflow-y: auto;
}

.footer {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 1rem;
  text-align: center;
  flex-shrink: 0;
}

.posts {
  max-height: 100%;
  overflow-y: auto;
}

.tweet, .forum-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--button-hover-color);
}

@media (max-width: 768px) {
  .header nav ul li {
    display: block;
    margin: 0.5rem 0;
  }

  .content {
    padding: 1rem;
  }

  .post {
    margin: 0.5rem 0;
  }
}

#background-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

@keyframes move {
  0% {
    transform: translateY(0) translateX(0);
  }
  100% {
    transform: translateY(-100vh) translateX(100vw);
  }
}

.object {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5); /* Ensure visibility */
  border-radius: 50%;
  animation: move 10s linear infinite;
}

.object:nth-child(1) {
  top: 80%;
  left: 20%;
  animation-duration: 12s;
  background-color: rgba(255, 99, 132, 0.9); /* Red */
}

.object:nth-child(2) {
  top: 60%;
  left: 40%;
  animation-duration: 15s;
  background-color: rgba(54, 162, 235, 0.9); /* Blue */
}

.object:nth-child(3) {
  top: 40%;
  left: 60%;
  animation-duration: 18s;
  background-color: rgba(75, 192, 192, 0.9); /* Teal */
}

.object:nth-child(4) {
  top: 20%;
  left: 80%;
  animation-duration: 20s;
  background-color: rgba(153, 102, 255, 0.9); /* Purple */
}